{% extends "base.html.twig" %}

{% block title %}Gestion des membres{% endblock %}

{% block body %}

    <table class="container col-4 mt-4 table table-dark table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Civilité</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Statut</th>
            <th>Date d'enregistrement</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for membre in membres %}
            
        <tr>
            <td>{{ membre.id }}</td>
            <td>{{ membre.civilite }}</td>
            <td>{{ membre.nom }}</td>
            <td>{{ membre.prenom }}</td>
            <td>{{ membre.email }}</td>
            <td> {% for role in membre.roles %}
                {{role}}
                {% endfor %}
            </td>
            <td>{{ membre.dateEnregistrement| date('d/m/Y à H:i:s') }}</td>
            <td class="">
                <a href="{{path('membre_modifier', {id: membre.id})}}" class="bi bi-pencil-square text-warning"></a>
                <a href="{{path('membre_supprimer', {id: membre.id})}}" class="bi bi-trash3 text-danger"></a>
            </td>
            
            </tr>

        {% endfor %}
    </table>
{% endblock %}